<!-- <div class="nav-box"></div> -->
<div class="nav-menu">
  <div class="title" (click)="onClick(0)">
    <!-- <input #myInput type="hidden" name="" id=""> -->
    <h3>Meeting Center</h3>
  </div>
  <div *ngIf="isShowListContents[0]" >
    <ul class="list" >
      <li class="list-content" *ngFor="let x of records1">{{x}}</li>
    </ul>
  </div>
</div>
<div class="nav-menu">
  <div class="title"  (click)="onClick(1)">
    <h3>Reports</h3>
  </div>
  <div *ngIf="isShowListContents[1]">
    <ul class="list">
      <li class="list-content" *ngFor="let x of records2">{{x}}</li>
    </ul>
  </div>
</div>
<div class="nav-menu">
  <div class="title" (click)="onClick(2)">
    <h3>Support</h3>
  </div>
  <div>
    <ul class="list" *ngIf="isShowListContents[2]">
      <li class="list-content" *ngFor="let x of records3">{{x}}</li>
    </ul>
  </div>
</div>