.nav-box{
        display: flex;
        width:30%;
        height:500px;
        background-color: black;
}
.nav-menu{
        display: flex;
        flex-basis: 100%;
        // background-color: red;
        border-bottom:solid;
        border-bottom-color: gray;
        justify-content: flex-start;
        flex-wrap: wrap;
}
.title{
        display: flex;
        flex-basis: 100%;
        height: 30px;
}
.list-content{
        border-bottom:solid;
        border-bottom-color: #CCC7C7;
        display: flex;
        flex-basis: 100%;
        // flex-wrap: wrap;
}
.list{
        display: flex;
        flex-basis: 100%;
        justify-content: flex-start;
        flex-wrap:wrap;
}