.last-icon {
    color: #D84C2B;
    font-size: 450%;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
}
.innerHomeIcons {
    width: 33%;
    float: left;
}
.icon{
	text-align:center;
}