<div >
<div class="box-flex home-title">
  <div class="box-flex-item">   
  <a  title="Meet Now" href="/#">
    <span>
      <i class="fa fa-users fa-stack-3x"></i>
    </span>
  </a>

  <p> Meet Now </p>
  </div>
    <div class="box-flex-item box-cal">
      
  <a class="" title="My Calendar" href="/#">
    <span>
      <i class="fa fa-calendar-o fa-stack-3x"></i>
      <strong class="fa-stack-1x calendar-text myCalendar ng-binding">4</strong>
    </span>
  </a>
  <p> My Calendar </p>
  </div>
    <div class="box-flex-item">
  <a class="" title="Schedule" href="/#">
    <span>
      <i class="fa fa-pencil-square-o fa-stack-3x"></i>
    </span>
  </a>
  <p> Schedule </p>
  </div>
</div>
<div class="home-content">
  <h2>Welcome to the Communication Services Portal</h2>
  <p>{{WarningContent}}</p>
  <h2>Learn more about WebEx</h2>
  <p>Join the <a href=''>Communication Services Spark Group</a> to ask questions, share best practices and get the latest information.
</p>
<p>
</div>
</div>
