<!--The content below is only a placeholder and can be replaced.-->

<body class="box-main">
  <app-my-header (oFBarClick)="onClick_HeaderBar()" (oMousehover)="Loginover()"> 
  </app-my-header>
  
  <div class="box-body box-flex-item box-flex">
     <app-my-nav  class="box-left-nav" *ngIf="isShowNav">
     </app-my-nav>
     <div class="box-router box-flex-item">
      <app-loginlist class="box-list" *ngIf="isListShow"></app-loginlist>
       <router-outlet></router-outlet>
       <app-my-footer></app-my-footer>
    </div>    
  </div>
 
</body>
