.box-main {
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  .box-body {
    // margin: auto;
    .box-left-nav {
      flex-basis: 30%;

      ul {
          margin: auto 0;
      }
    }
  }
}

.container {
  display: flex;
}
