<div class="height-full box box-vertical">
	<div class="top-nav red-background">
		<div class="box box-horizontal box-nowrap box-space-between">
			<div>
				<a class="navbar-brand white-color" href="#"><img class="logo" src="assets/img/pwclogo.png" /></a> 
				<a (click)="toggleClick($event)" href="#" id="menu-toggle" class="navbar-brand white-color" name="menu-toggle">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
			</div>

      <div>
        <a href="#" onclick="return false;" class="dropdown-toggle white-color" id="dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
          {{user}} <span class="caret"></span>
        </a>
        <a href="#" (click)="ellipsisClick()" onclick="return false;" class="border-round-card white-color" id="ellipsis">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </a>
      </div>
		</div>
	</div>

  <div *ngIf="showHeader2" class="top-nav red-background border-top-white header2">
    <a href="#" onclick="return false;" class="dropdown-toggle white-color" data-toggle="dropdown" role="button" aria-expanded="false">
      {{user}} <span class="caret"></span>
    </a>
  </div>

	
	<div class="height-full box box-horizontal margin-top-5">

		<app-leftnav [showLeftNav] = "showLeftNav"></app-leftnav>

		<app-maincontent></app-maincontent>

	</div>
	
</div>



















































<!-- <button class="btn btn-primary">Test Button</button> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->