<div class="meetingcontent">
  <div class="iconlist">
    <div class="icon">
      <a routerLink="../meetingnow">
        <span class="fa-stack last-icon">
          <i class="fa fa-users fa-stack-2x">
            </i>
          </span>
        </a>
      <p>Meet Now</p>
    </div>
    <div class="icon">
      <a routerLink="../calendar">
          <span class="fa-stack last-icon">
          <i class="fa fa-calendar-o fa-stack-2x"></i>
          <strong class="fa-stack-1x myCalendar calendar-text ">{{ currentDay }}</strong>
          </span>
      </a>
      <p>My Calendar</p>
    </div>
    <div class="icon">
      <a routerLink="../schedule">
          <span class="fa-stack last-icon">
          <i class="fa fa-pencil-square-o fa-stack-2x"></i>
          </span>
      </a>
      <p>Schedule</p>
    </div>
  </div>
  <div class="menucontent">
    <h2>Welcome to the Communication Services Portal</h2>
      
      Warning: Sharing personal, firm, or client confidential information can put the firm at risk. All WebEx usage must conform to local laws concerning client confidentiality, data protection and privacy as well as data protection, privacy and risk policies. As a meeting host you are responsible for ensuring compliance and making meeting participants aware of their confidentiality responsibilities. The use of Computer Based Audio (VOIP) may not be acceptable in some territories. If you have any questions, or need further information or guidance regarding the information that you will be using during your event, please contact your local Risk Management office.
      
      <h2>Learn more about WebEx</h2>
      Join the Communication Services Spark Group to ask questions, share best practices and get the latest information.
      <br>
      <br>
      Copyright © 2017
      <br>
      <br>
      PricewaterhouseCoopers. All rights reserved. PricewaterhouseCoopers refers to the network of member firms
      of PricewaterhouseCoopers International Limited, each of which is a separate and independent legal entity.
  </div>
</div>