@import '../../common/variables';
.box-page01 {
    .box-img {
        justify-content: space-between;
        font-size: 8em;
        color: $primary;
        text-align: center;
        .fa-text+div {
            font-size: 50%;
            position: absolute;
            margin: -95px 25px;
        }
        .fa-item {
            color: $black;
            margin-left: 20px;
        }
        .box-img-title {
            color: $black;
            font-size: 16px;
        }
    }
    .my-classname {
        background: $black;
    }
}