/* You can add global styles to this file, and also import other style files */
html {
    body {
        margin: 0;
        padding: 0;
        .box-ct {
            border: 1px black solid;
            opacity: 0.5;
            box-sizing: border-box;
        }
        .box-flex {
            display: flex;
            // justify-content: flex-start;
            // justify-content: flex-end;
            // justify-content: center;
            // justify-content: space-between;
            // justify-content: space-around;

            // align-items: stretch;
            // align-items: flex-start;
            // align-items: flex-end;
            // align-items: center;
            // flex-basis: 
            // width: 
            // margin:
        }
        .box-flex-item {
            flex: 1;
        }
    }
}