/* You can add global styles to this file, and also import other style files */
html{
  body{
    margin:0;
    padding:0;
    .box-ct{
      border: 1px #e7e7e7 solid;
      /*opacity:0.5;*/
      box-sizing: border-box;
    }
    .box-flex{
      display: flex;
    }
    .box-flex-item{
      flex:1;
    }
  }
}