<header class="box-flex-head">
  <div class="box-logo box-flex-head">
    <img src="assets/images/pwclogo.png" alt="">
    <i (click)="onClick(myInput.value)" class="fa fa-bars" aria-hidden="true"></i>
    <input #myInput type="hidden" name="" id="">
  </div>

 <!-- <div>
    <span class="glyphicon glyphicon-menu-hamburger white-color" aria-hidden="true">aa</span>
    <i class="fa fa-bars" aria-hidden="true">aa</i>
    <i class="fa fa-sort-desc fa-3" aria-hidden="true"></i>
  </div>  -->
</header>