.box-logo{
    flex-basis: 10%;
    background-color:#D84C2B;
    // padding-left:15px;
    // padding-right:15px;
    // box-sizing: border-box;
    justify-content: space-around;
}

img{
    max-height: 50px;
    max-width: 50px;
}
i{
    // flex-basis: 50%;
    // padding-left:15px;
    // padding-right:15px;
    padding-top:15px;
}

